<div id="modalLoad" class="modal">
    <div class="modal_dialog">
        <div id="modalLoadFile" class="modal_content">
            <button id="closeLoad" class="modal_close"></button>
            <h1 class="modal_title">Load the file</h1>
            <div class="choose_file">
                <input type="file" id="files" name="files[]" accept=".json"/>
                <output id="list"></output>
            </div>
            <p id="nameExist" class="error_name_block">Name has already existed.</p>
            <p id="emptyInput" class="error_name_block">Please, enter a name.</p>
            <div class="input_save_block">
                <input placeholder="Enter the name of the file" id="input_save" class="input_save" type="text">
            </div>
            <div class="button_modal_load">
                <button id="loadButton" class="style_button" title="download">load</button>
            </div>
        </div>
    </div>
</div>