.clear {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

.logout_button {
    width: 33.3%;
    float: left;
    padding: -19px;
}

.style_button {
    padding: 5px 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    font: bold 18px "Source Sans Pro", sans-serif;
    background: #00bc9c;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #00a085;
    cursor: pointer;
}

.create_button {
    float: left;
    margin: 25px;
}

.load_button {
    float: right;
    margin: 19px;
}

.button_modal_save,
.button_modal_load {
    margin: 20px auto;
    width: 65px;
}

.button_block {
    margin: 10px;
    float: left;
}

.option_button {
    margin: 10px;
    float: right;
}

.sign_button {
    width: 130px;
    margin: 20px auto;
}
