.create_task_container {
    margin: 10px auto;
    width: 50%;
}

.create_task_title
{
    font: 700 16px "Lato", sans-serif;
    color: #506a85;
}

.textinput {
    width: 98%;
    height: 30px;
    font-size: 18px;
    border: 1px solid #cecece;
    background: #f5f7fa;
    border-radius: 3px;
    padding: 1%;
}

.input_form {
    width: 100%;
    margin: 20px auto;
}

input:focus {
    outline-color: #00bc9c;
}

.textinput {
    width: 95%;
    height: 30px;
    font-size: 18px;
    border: 1px solid #cecece;
    background: #f5f7fa;
    border-radius: 3px;
    margin: 5px;
    padding: 1%;
}

textarea:focus {
    outline-color: #00bc9c;
}

textarea {
    width: 95%;
    height: 70px;
    font-size: 18px;
    border: 1px solid #cecece;
    background: #f5f7fa;
    border-radius: 3px;
    margin: 5px;
    padding: 1%;
    resize: none;
}

select:focus {
    outline-color: #00bc9c;
}

select {
    font-size: 18px;
    color:  #506a85;
    border: 1px solid #cecece;
    background: #f5f7fa;
    border-radius: 3px;
    margin: 5px;
    padding: 1%;
}