* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear {
    clear: both;
}

.header_background {
    background-color: #f5f7fa;
    padding: 10px;
    height: 125px;
}

.header_title {
    margin: 0 auto;
}

.title_name {
    font: 900 50px "Lato", sans-serif;
    text-align: center;
    color: #506a85;
    text-transform: uppercase;
}

#canvasDiv {
    position: relative;
    margin: 10px auto;
    border: 2px solid #00a085;
    width: 98%;
    height: 790px;
    overflow: scroll;
}

#input_block {
    height: 20px;
    width: 200px;
    font: bold 18px "Source Sans Pro", sans-serif;
    border: 1px solid #cecece;
    background: #f5f7fa;
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    top: 0;
    left: 0;
}

.mouse_move {
    cursor: move;
}

.information_box {
    width: 80%;
    margin: 20px auto;
}

li {
    list-style-type: none;
    color: #506a85;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

p {
    text-align: center;
    display: none;
    color: #00a085;
    font-size: 20px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.error_name_block {
    display: none;
}

@media screen and (min-width: 480px) {
    .modal_dialog {
        top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .header_background {
        height: 230px;
    }

    .option_button, .button_block {
        float: none;
    }

    .title_name {
        font: 900 40px "Lato", sans-serif;
    }
}

.input_save {
    width: 100%;
    font: bold 18px "Source Sans Pro", sans-serif;
    border: 1px solid #cecece;
    background: #f5f7fa;
}

.input_save_block {
    width: 50%;
    margin: 30px auto;
}

.theme_box {
    width: 50%;
    margin: 20px auto;
}

.theme_name {
    font: 900 20px "Lato", sans-serif;
    text-align: center;
    color: #506a85;
}

.theme_images {
    width: 100%;
    padding: 10px;
}


input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.profile_button_block {
    display: inline-block;
}
