.clear {
    clear: both;
}

.personal_account_field {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 80%;
    padding: 5%;
    background-color: rgba(242, 245, 247, 0.9);
}

.user_information {
    width: 18%;
    height: 100%;
    float: left;
    padding: 0 15px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #d8dee2;
}

.user_photo_block {
    width: 80%;
    margin: 20px auto;
}

.user_photo {
    width: 100%;
}

.logout_button {
    width: 120px;
    margin: 10px auto;
}

.style_button {
    padding: 5px 16px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    font: bold 18px "Source Sans Pro", sans-serif;
    background: #00bc9c;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #00a085;
    cursor: pointer;
}

.mind_maps_info {
    float: right;
    width: 72%;
    height: 100%;
    padding: 0 15px;
}

.create_new_mind_map {
    height: 20%;
}

.existing_mind_maps {
    height: 80%;
    padding: 0 15px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #d8dee2;
}

.create_button {
    float: left;
    margin: 7% 5%;
}

.load_button {
    float: right;
    margin: 7% 5%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1005;
    background-color: rgba(242, 245, 247, 0.9);
    visibility: hidden;
    transition: all 0.2s;
}

.modal_dialog {
    position: relative;
    top: 50px;
    max-width: 970px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.modal_close {
    width: 25px;
    height: 26px;
    float: right;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-image: url(../images/button_close.png);
    border: 0;
    margin-top: 32px;
    margin-right: 29px;
    cursor: pointer;
}

.modal_content {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 9px 13px 57px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.6);
    opacity: 0;
    transform-origin: top;
    transition: all 0.2s;
}

.open_modal_content {
    opacity: 1;
    transform: scale(1);
}

.open_modal_window {
    display: block;
    visibility: visible;
    transform: translateY(0);
}
