{% extends "base.html.twig" %}
{#{% block title %}Mind-maps sign in{% endblock %}#}
{% block title %}Mind-maps sign in{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/button.css">
{% endblock %}
{% block content %}
    <div class="authorization">
        <div class="sign_in">
            <div class="auth_form">
			    {% if error %}
					<div class="message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
                <form accept-charset="UTF-8" method="post">
                    <div class="auth_form_header">
                        <h1>Have an account? Sign in.</h1>
                    </div>
                    <div class="input_form">
						<input type="text" id="username" class="textinput" name="_username" placeholder="Username" value="{{ last_username }}" />
                    </div>
                    <div class="input_form">
					    <input type="password" class="textinput" placeholder="Password" id="password" name="_password" />
                    </div>
                    <div class="sign_button">
						<button type="submit" class="style_button" value="/personal">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="create_account_block">
                <p class="create_account_callout">
                    New to MIND-MAPS?
                    <a href="/sign_up">Create an account</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
